<h1> Styles </h1>
<p id="notice"><%= notice %></p>

<table class="table table hover">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

  <% @styles.each do |style| %>
      <tr>
        <td><%= link_to style.name, style %></td>
        <td><%= edit_and_destroy_buttons(style) %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New style', new_style_path, class: "btn btn-primary btn-sm active" %>

